/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html, body{
    height: 100%;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.navi ul > li {
    padding: 5px 10px;
    transition: all 0.5s;
}
.navi ul>li:hover{
    background-color: rgba(0, 0, 0, 0.3)
}
 .navi ul>li>a{
    color: white;
}
 .navi ul>li>a:hover{
    color: white;
    cursor:pointer;
    text-decoration: none;
}

/*FOOTER*/
.col-lg-12 ul > li {
    
    transition: all 0.5s;
}
.col-lg-12 ul>li:hover{
    background-color: rgba(0, 0, 0, 0.3)
}
 .col-lg-12 ul>li>a{
    color: #2586c6;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
  color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
  font-weight: 300;
  color: #fff;
}
/*************************
*******Video Container CSS*******
**************************/
.video-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute; 
}

.video-container video{
    /*Cubre toda la pantalla*/
   min-width: 100%;
   min-height: 100%;
  
   /*Centrar Video*/
   position: absolute;
   top: 50%;
   left: 50%;
   webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);

    /*No altera la escala*/
   width: auto;
   height: auto;
}

.logo{
   display: inline-block;
   position: absolute;
   
}

#description{
    padding: 10px 15px;
    width: 100%;
}

#description.absolute {
  bottom:  0px;
}

#description.fixed {
  top:  0px ;
}

/*************************
*******Features  CSS*******
**************************/
#features {
  text-align: center;
  background-image: url("../img/dividers/twitter-bg.jpg");
  margin-top: 35px;
}

#features i {
  font-size: 18px;
}

#features h3 {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 7px;
  color: #fff;
}

#features .slider-overlay {
  opacity: 0.8;
}
.features{
    margin-top: 190px;
    position: relative;
    padding: 60px 0px 50px 0px;
}

/*************************
*******Features Services CSS*******
**************************/
#service {
  text-align: center;
  padding: 60px 0 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
#service .service-item {
  padding-bottom: 30px;
}
#service .service-item i {
  font-size: 60px;
  color: #4A4656;
}
#service .service-item h4 {
  padding-top: 20px;
  margin: 0;
  color: #666;
}
#service .service-item p {
  color: #888;
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}

#logotipo{
    position: relative;
    margin: 0px;
    left: -90px;
}

#menu-open{
    display: none;
}
#logo-nav2{
    display: block;
}
/*Services button*/
.btn-services{
  padding: 15px 35px;
  border: none;
  background-color:#34495e ;
  font-size: 15px;
  color: #fff;
  margin-top: 30px;
  border-radius: 5px;
  width: 200px;
}
.btn-services a{
  color: #fff;
}
/*--
    Divider 2 Start 
--*/
#call-to-action {
  background: url("../img/dividers/h.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0px;
  position: relative;
  text-align: center;
  color: #fff;
}
#call-to-action:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #3a3842;
  opacity: 0.8;
}
#call-to-action h2 {
  padding-bottom: 20px;
  line-height: 33px;
  margin: 0;
  font-size: 30px;
  color: #fff;
}
#call-to-action p {
  font-size: 14px;
  line-height: 1.6;
}
#call-to-action .btn-call-to-action {
  padding: 15px 35px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  color: #333333;
  margin-top: 30px;
}
.centered {
    text-align: center;
    width: 100%;
}
hr {
    position: relative;
    border: none;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc;
}

/* Section Dividers */
.section-divider {
    /*z-index: 999;*/
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;


    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*background-attachment: relative;*/
    
    text-align: center;

   background: url('../img/dividers/divider1.jpg') no-repeat;
  background-size: cover;
  /*padding-top: 150px;
  padding-bottom: 107px;*/
  position: relative;
  background-attachment: fixed;

}

.textdivider h1 {
	padding-top: 70px;
	color: white;
	font-size: 40px;
}

.textdivider p {
	color: white;
	font-size: 25px;
}
.white h1 {
	padding-top: 60px;
}

.white h2{
	margin-bottom: 60px;
}

.white p {
	padding-top: 25px;
}
/*valores*/
#values{
  margin-top: 30px;
}
/*Dividers*/
.divider1 {
	background-image: url('../img/dividers/divider1.jpg')
}
/*Publicite Promotions*/

#greywrap {
	background: #f5f5f5;
	margin-top: 20px;
	padding-top: 40px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
#greywrap .col-lg-4{
	margin-top: 60px;
}
#greywrap .callout {
	margin-bottom: 20px;
}

#greywrap p {
	margin-left: 30px;
	margin-right: 30px;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#greywrap .icon {
	font-size: 60px;
	line-height: 30px;
	margin-bottom: 10px;
}

/**/
#team {
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}
/**Banner*/
.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url("../img/dividers/intro-bg.jpg") no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    color: white;
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}


/***/
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
/**Footer**/
footer {
    padding: 35px 0px 0px;
    background-color: #f8f8f8;

}
.list-inline{
	text-align: left;
}
.copyright {
    margin: 15px 0 0;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 30px;
}

.testimonial-image img {
  max-width: 10px;
  -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px;
}

/*IMAGES*/

/**************/
/*Contact Form*/
/**************/
#global-header {
  background-image: url("../img/dividers/serv.jpeg");
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #d6d6d6, #2d2c2c 0%);
  opacity: 0.8;
}
#global-header .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
  text-align: center;
}
#global-header .block h1 {
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 6px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
  color: white;
}
#global-header .block p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}
/*--
	contact-form Start 
--*/
#contact-form {
  padding-top: 70px;
  padding-bottom: 35px;
}
#contact-form .block form .form-group {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  border-bottom:  1px solid #737a82;
  box-shadow: none;
  width: 100%;
}
#contact-form .block form .form-group-2 {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group-2 textarea {
  background: #F6F8FA;
  height: 135px;
  border-bottom:  1px solid #737a82;
  box-shadow: none;
  width: 100%;
}
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #34495e;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/*--
	wrapper-contact Start 
--*/
.address-block li {
  margin-bottom: 20px;
}
 ul.address-block {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
.address-block li i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
}
.block h2{
	text-align: left
}
.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons i {
  color: #2C2C2C;
  margin-right: 25px;
  font-size: 25px;
}
.google-map {
  position: relative;
}
.google-map #map {
  width: 100%;
  height: 300px;

}
#contact-box {
  padding-top: 35px;
  padding-bottom: 58px;
}
#contact-box .block img {
  width: 100%;
}
#contact-box .block h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}
#contact-box .block p {
  color: #5C5C5C;
  display: block;
}
.callout h2{
  font-size: 25px;
}
.callout .address-block{
  padding: 0px 15px;
}

/*Responsive *Nav**/
#resp-nav{
    padding: 10px 15px;
    width: 100%;
    z-index: 500;
}
#resp-nav.fixed {
  top:  0px ;
}
#logo-nav{
    position: relative;
    margin: 0px;
    left: -90px;
}
/***SERVICES FORM****/
.nav-services{
  margin-top: 70px;
}
.col-lg-6{
  padding: 0px;
}
#title-services{
  margin-top: 20%;
}
#title-services h1{
  font-size: 4em;
  color: #34495e;
}
#title-services h2{
  margin-top: 55px;
  font-size: 3em;
  color:#cc761a ;
}

#front-service .box{
  background-color: #34495e;
  padding: 20px;
  color: white;
  margin-right: 10px;
  border-radius: 8px 8px 0px 0px;
  text-align: left ;
}
#front-service .accordion{
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border:  1px solid #bcbcbc;
}

#front-service strong{
  margin-left: 25px;
  font-size: 25px;
  padding-top: 5px;
}
#front-service .accordion h4{
  display: inline;
}

.accordion i:hover{
  cursor: pointer;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

    .full-height{
        height: 100%;
    }
   
       .relative{
        position: relative;
    }
    .fixed{
        position: fixed;
    }
    .container-service{
      margin-top: 80px;
    }
    .absolute{
        position:absolute;
    }
    .up{
        z-index: 5;
    }
    .row{
         margin: 0;

    }
    .position{
        top: 2em;
        right: 2.5em;
    }
    .bottom{
        bottom: 0px;
    }

    .white-text{
        color: #fff;
    }
    .black-text{
        color: #222;
    }
    .font-principal{
        font-family: 'Montserrat', sans-serif;
    }
    .font-secundary{
            font-family: 'Roboto Slab', serif;
    }
    .medium{
        font-size: 1.2em;
    }
    #outlet{
        font-size: 3.5em;
    }
    #seguros{
        font-size: 60px; color: #d6751b;
    }
    .nav-black{
         background-color: #34495e;
    }
    .nav-white{
        background-color: #34495e;
    }
    .section-title {
      margin-bottom: 70px;
    }
    .section-title h2 {
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 600;
    }
    .section-title p {     
      color: #666;
    }
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media (max-width: 400px) and (min-width: 260px){
  /*Media Querie para mobile*/
      #menu-open{
        display: block;
      }
      #logotipo{
        display: none;
      }
      #responsive-nav ul{
        position: absolute;
        width: 100%;
        font-size: 1.2em;
        top: 80px;
        left: 0px;
        background-color: #2d2d2d;
        text-align: center;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s;
        margin: 0px;
      }
      #responsive-nav ul.active{
        max-height: 400px;
      }
      #responsive-nav li{
        display: block;
        margin-top: 1em;
        padding: 10px 15px;
      }

      #outlet{
        font-size: 1.5em;
    }
    #seguros{
        font-size: 20px; color: #d6751b;
    }
    .box h3{
        font-size: 16px;
    }
    #navigation{
        display: none;
    }
    .video-container video{
    /*Oculta el video*/
    display: none;
    }
    .video-container{
      /*Sustituye el video por una imagen*/
      background-image: url("../img/dividers/twitter-bg.jpg");
    }

    /*Form Contact*/

#contact-form .block form .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  border-bottom:  1px solid #737a82;
  box-shadow: none;
  width: 100%;
}
    #global-header .block h1{
      font-weight: 100;
      font-size: 25px;
      letter-spacing: 6px;
      padding-bottom: 15px;
      margin-top: 0;
      text-transform: capitalize;
      color: white;

    } 
     #global-header .block {
      padding-left: 0px;
      text-align: left: ;
    }
    #global-header .block p {
      font-size: 12px;
    }
/**RESPONSIVE NAVIGATOR**/
   #logo-nav{display: none;}

  .address-block li{
    font-size: 11px;
  }

  #greywrap p{
    margin: 0px;
  }
}
@media (max-width: 1096px)and (min-width: 400px){

      #menu-open{
        display: block;
      }
      #logotipo{
        display: none;
      }
      #responsive-nav ul{
        position: absolute;
        width: 100%;
        font-size: 1.2em;
        top: 50px;
        left: 0px;
        background-color: #222;
        text-align: center;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s;
        margin: 0px;
      }
      #responsive-nav ul.active{
        max-height: 400px;
      }
      #responsive-nav li{
        display: block;
        margin-top: 1em;
        padding: 10px 15px;
      }
      /*Responsive Nav */

}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
